:root {
    supported-color-schemes: light dark;
}

body {
    font: -apple-system-body;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

#container {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 2em;
}

#grid {
    text-align: center;
    margin: 0 auto;
}

#chords {
    font: -apple-system-headline;
}

#chords h1 {
    font: -apple-system-body;
    text-align: left;
    color: var(--accentColor);
    margin: 0;
    padding: 0;
}

#chords .not-found {
    text-align: left;
    border-left: 1px solid;
    padding-left: 0.5em;
    margin: 1em 1.5em 1em 1em;
    font: -apple-system-subheadline;
}

.section {
    text-align: center;
}

.section {
    border-right: none;
    font: -apple-system-headline;
    text-align: center;
    padding: 0.5em;
    width: 20em;
    justify-self: center;
}

.section.empty {
    
    background-color: green;
}

.section.no-name {
    display: none;
}

.section.chorus {
    background-color: var(--highlightColor);
}

#grid {
    display: grid;
    grid-template-columns: auto;
    column-gap: 1em;
    row-gap: 1.5em;
}

.lines {
    text-align: left;
    padding-bottom: 0em;
    justify-self: center;
}

@media (min-width: 800px) {

#grid {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1em;
    row-gap: 1.5em;
}

.section {
    text-align: right;
    padding-right: 1em;
    padding-top: 1.5em;
    padding-left: 2em;
    justify-self: end;
    width: auto;
}

.section.no-name {
    display: block;
}

.section.empty {
    border-right: none;
    grid-column-end: span 2;
    text-align: center;
    padding: 0.5em;
    justify-self: center;
    width: 20em;
}

.lines {
    text-align: left;
    padding-bottom: 0em;
    justify-self: start;
}

}
.lines .plain {
    font-style: italic;
}
.chord {
    text-align: left;
    color: var(--accentColor);
    padding-right: 0.5em;
}

.lyric {
  white-space: nowrap;
}

.line {
    display: flex;
}

.tablature {
    font-family: monospace;
    overflow: visible;
    white-space: nowrap;
    text-align: left;
}

.measures {
    display: flex;
    max-width: 25em;
}

.measure {
    width: 5em;
    display: flex;
    border-left: 2px solid;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: -2px;
    margin-bottom: 0.5em;
}

.measure .chord {
    padding-right: 0.2em
}

.comment {
    font: -apple-system-subheadline;
}
