/*
 
 Styling of the song:
 
 Structure:
 
 - container
 -- grid
 --- section
 --- lines, depending on content has the following:
 ---- measures
 ------ measure
 -------- chord
 ---- tablature
 ---- line: a line in a song
 ----- part
 ------- chord
 ------- lyric
 
 */

/* General stuff */

body {
    font: -apple-system-body;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

#container {
    text-align: center;
    margin: 0 auto;
    padding: 0 1em 2em;
}

#grid {
    display: inline-block;
}

.section {
    font: -apple-system-subheadline;
    text-align: left;
    clear: left;
}

.section.single {
    border: none;
    border-radius: 0.5em;
}

.section .name {
    font-weight: bold;
    color: var(--sectionColor);
}

.section.single .name {
    padding: 0 1em;
}

/*
 Lines
 */

.lines {
    float: left;
    clear: left;
}

/* A line with tablature */
.lines .tablature {
    font-family: monospace;
    overflow: visible;
    white-space: nowrap;
    text-align: left;
}

/* A line with a comment */
.lines .comment {
    font: -apple-system-caption1;
    text-align: left;
    background-color:  var(--commentBackground);
    float: left;
    padding: 0.25em 0.5em;
    border-radius: 0.5em;
    margin: 0 0.5em 0.5em 0;
}

.lines .measures {
    display: flex;
    max-width: 25em;
}

.lines .measure {
    width: 5em;
    border-left: 1px solid var(--sectionColor);
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-bottom: 0.5em;
}

.lines .measure .chord {
    padding-right: 0.2em;
    float: left;
    color: var(--accentColor);
}

/* A line without any type; I use it as 'intro' text for a song */
.lines .plain {
    font-style: italic;
    text-align: left;
}

/* A line with a song part */
.lines .line {
    clear: both;
}

/*
 Parts
 */

.part {
    float: left;
}

.part .chord {
    text-align: left;
    color: var(--accentColor);
    padding-right: 0.5em;
}

.part .lyric {
    white-space: nowrap;
}

/* Big screen layout, it's in a grid */

@media (min-width: 800px) {

    #grid {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 1em;
        row-gap: 1.5em;
    }

    .section {
        text-align: right;
        justify-self: end;
        width: auto;
        border-right: 1px solid var(--highlightColor);
        padding: 0.2em 1em 0.5em 0.5em;
        border-radius: 0.5em 0 0 0.5em;
    }

    .section.no-name {
        border: none;
    }
    
    .section.chorus {
        padding: 0.5em;
        background-color: var(--highlightColor);
    }
    
    .section.single {
        justify-self: left;
    }
}

/* Small screen layout */

@media (max-width: 799px) {

    .section {
        margin-bottom: 1em;
        border-radius: 0.5em 0.5em 0.5em 0;
    }
    
    .section .name {
        padding: 0.5em 0;
        display: inline-block;
        border-bottom: 1px solid var(--highlightColor);
    }

    .section.chorus {
        margin-bottom: 0;
        border: none;
    }

    .section.chorus .name {
        background-color: var(--highlightColor);
        display: inline-block;
        padding: 0.5em 1em;
        border-radius: 0.5em 0.5em 0.5em 0;
    }
    
    .section.chorus.single .name {
        border-radius: 0.5em;
    }
    
    .section.no-name {
        display: none;
    }
    
    .section.single {
        margin-bottom: 1em;
    }

    .lines {
        margin-bottom: 1em;
        text-align: left;
    }

    .lines.chorus {
        border-left: 1px solid var(--highlightColor);
        padding-left: 0.5em;
    }

    .lines.chorus .line:first-child {
        margin-top: 0.5em;
    }
}
